@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Roboto, serif;
    align-items: center;
    background-image: url('https://source.unsplash.com/1600x900/?Tehran');
    background-size: cover;
}

.card {
    color: white;
    line-height: 2em;
    background-color: #000000ca;
    padding: 1.2em;
    width: 100%;
    max-width: 450px;
    margin: 1em;
    border-radius: 30px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.search-bar {
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 25px;
    padding: 0.8em 1em;
    background-color: rgba(254, 254, 254, 0.047);
    color: white;
    font-family: inherit;
    width: calc(100% - 40px);
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    width: 3.1em;
    height: 3.1em;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(254, 254, 254, 0.047);
    transition: all 0.2s ease-in-out;
    color: white;
}

.search-btn:hover {
    background-color: rgba(254, 254, 254, 0.129);
}

.weather {
    margin: 0 0.5em;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after {
    visibility: visible;
    content: "loading info...";
    color: white;
    position: absolute;
    top: -10px;
}

.temp {
    margin: 0.5em 0;
}

.wind-lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.humidity {
    margin-top: 0.3em;
}

.weather-description {
    display: flex;
    align-items: center;
    margin-left: -0.2em;
}

.description {
    text-transform: capitalize;
}

.change-lang-btn {
    outline: none;
    border: none;
    width: 20%;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(254, 254, 254, 0.047);
    transition: all 0.2s ease-in-out;
    color: white;
}

.change-lang-btn:hover {
    background-color: rgba(254, 254, 254, 0.129);
}

.github-icon {
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000000ca;
    width: 3rem;
    height: 3rem;
    border-radius: 0 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}